@model Address
@{
    ViewBag.Title = "Address";
}

<h2>Address</h2>

@using (Html.BeginForm())
{
    <div class="input-group">

        <span class="input-group-addon">Address</span>
        @Html.TextAreaFor(x => x.MailingAddress, new { @class = "form-control", placeholder = "Address" })

    </div>
    <br />
    <div class="input-group">

        <span class="input-group-addon">Person</span>
        @Html.DropDownListFor(i=>i.Person.Id, (List<SelectListItem>)ViewBag.people, new { @class = "form-control" })

    </div>
    <br />
    <div class="input-group">

        <input type="submit" value="Add" class="btn btn-default" />

    </div>
    <br />
    <div class="input-group">
        @if (ViewBag.msg != null)
        {
        <div class="alert alert-@ViewBag.type" role="alert">
            @ViewBag.msg
        </div>
        }
        
    </div>
}
