@model  Address
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td><b>Person:</b></td>
            <td>@(Model.Person.Name+" "+Model.Person.Surname)</td>
        </tr>
        <tr>
            <td><b>Address:</b></td>
            <td>@Model.MailingAddress</td>
        </tr>
    </table>
    <br />
    <div class="input-group">

        @*<span class="input-group-addon">Delete</span>*@
        <input type="submit" value="Delete" class="btn btn-default" />

    </div>
}